@import "../../../styles/settings.scss";

.root {
  @include flex(row, center, space-between);
  .burgerButton {
    border: none;
    bottom: 2vh;
    outline: none;
    right: 2vh;
    z-index: 100;
    span,
    span:before,
    span:after {
      outline: none;
      background-color: $link-active;
    }
  }

  .mobileNav {
    @include flex(row, center, flex-start);
    height: 100%;
    padding-left: 2rem;
  }
  .menu {
    @include flex(row, center, space-around);
    height: 100%;
    width: 50%;
    &__hidden {
      @extend .menu;
    }

    .navLink {
      font-size: clamp(0.75rem, 1.1rem, 2rem);
      font-weight: 400;
      height: 100%;
      position: relative;
      text-decoration: none;
      width: 100%;
      &:after {
        background: $link-active;
        bottom: -25%;
        content: "";
        height: 3px;
        left: 0;
        position: absolute;
        transition: 0.1s;
        width: 0;
      }
      &:hover {
        filter: drop-shadow(0 0 2em #000);
        text-shadow: -0.25px -0.25px 0 black, 0.25px 0.25px black;
        transition: $animationEase;
        &:after {
          width: 100%;
        }
      }
      ::before {
        content: attr(title);
        display: block;
        font-weight: bold;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }
    }

    .navLink__active {
      @extend .navLink;
      color: $link-active;
      text-shadow: -0.25px -0.25px 0 black, 0.25px 0.25px black;
      transition: $animationEase;
      &:after {
        width: 100%;
      }
    }

    @media (pointer: coarse) {
      .navLink:active {
        text-shadow: -0.25px -0.25px 0 black, 0.25px 0.25px black;
        transition: $animationEase;
        &:after {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .root {
    .menu {
      flex-direction: row;
    }

    .burgerButton {
      display: none;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .root {
    .mobileNav {
      padding-left: 0;
      position: absolute;
      right: 0;
      top: 0.5rem;
      img {
        margin-right: 0;
        margin-left: 0;
        position: absolute;
      }
    }
    .menu {
      @include flex(column, center, center);
      background: inherit;
      border-radius: 0;
      filter: drop-shadow(5px 5px 40px rgba(0, 0, 0, 0.4));
      height: 100%;
      margin: 0;
      position: fixed;
      right: 0;
      top: 0;
      transition: all 0.3s;
      visibility: visible;
      z-index: -1;
      &__hidden {
        right: -50%;
      }
      & > div {
        @include flex(column, center, center);
        max-height: 3rem;
      }
    }

    .burgerButton {
      display: flex;
    }

  }
  .navLink {
    &:after {
      top: 150%;
    }
    &:hover {
      &:after {
        top: 150%;
      }
    }
  }
  .navLink__active {
    &:after {
      bottom: -50%;
    }
  }
}
