@import "./settings.scss";


.sw-animation {
  transition: 1s;
}

.md-animation {
  transition: 0.65s;
}

.ft-animation {
  transition: 0.3s;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 100%;
  }
}

@keyframes slideLeft {
  from {
    margin-right: 0;
  }
  to {
    margin-right: 100%;
  }
}

@keyframes fadeinRight {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes fadeinLeft {
  from {
    margin-right: 100%;
  }
  to {
    margin-right: 0%;
  }
}

@keyframes fadeinTop {
  from {
    margin-bottom: 100%;
  }
  to {
    margin-bottom: 0%;
  }
}

@keyframes fadeinBottom {
  from {
    margin-bottom: 0%;
  }
  to {
    margin-bottom: 100%;
  }
}

@keyframes shake {
  10% {
    transform: translate3d(-1px, 0, 0);
  }
  20% {
    transform: translate3d(2px, 0, 0);
  }
  30% {
    transform: translate3d(-2px, 0, 0);
  }
  40% {
    transform: translate3d(2px, 0, 0);
  }
  50% {
    transform: translate3d(-2px, 0, 0);
  }
  60% {
    transform: translate3d(2px, 0, 0);
  }
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  80% {
    transform: translate3d(2px, 0, 0);
  }
  90% {
    transform: translate3d(-1px, 0, 0);
  }
}

@keyframes star {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -10000px;
  }
}
