@import "../../../styles/settings.scss";

.root {
  @include flex(row, center, center);
  margin: 2.5rem 0;
  min-height: 50vh;
  &:after {
    content: "";
    display: block;
  }
  .projectPhoto {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    padding: 0;
    img {
      display: block;
      pointer-events: none;
      transition: $transition;
      width: 100%;
    }
    &:hover img {
      scale: 1.2;
    }
  }
  &__reversed {
    @extend .root;
  }
}

@media (max-width: 786px) {
  .root {
  }
}

/* XXXL ExtraExtraLarge Devices, UltraWide Desktops  */
@media (min-width: 1921px) {
  .root {
    &__reversed {
       flex-direction: row-reverse;
     }
  }
}

/* XXL Extra Extra Large Devices, Desktops  */
@media (min-width: 1400px) and (max-width: 1920px) {
  .root {
    &__reversed {
       flex-direction: row-reverse;
     }
  }
}

/* XL Extra Extra Large Devices, Laptops  */
@media (min-width: 1200px) and (max-width: 1399px) {
  .root {
    &__reversed {
       flex-direction: row-reverse;
     }
  }
}

/* LG Large Devices, Tablets iPad Pro */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .root {
  }
}

/* MD Medium Devices, Tablets iPad */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .root {
  }
}

/* SM Small Devices, Small tablets Large Phones */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .root {
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .root {
  }
}

/* Media pointer*/
@media (hover: hover) and (pointer: fine) {
  .root {
  }
}

/* Media touchable */
@media (pointer: coarse) {
  .root {
  }
}
